.container{
    display: flex;
    flex-direction: column;
    max-width: 250px;
    max-height: 300px;
    margin-left: 10px;
    margin-top: 10px;
    background-color: #fff;
    transition: transform .3s;
    -webkit-transition: transform .3s;
    -moz-transition: transform .3s;
    -o-transition: transform .3s;
    cursor: pointer;
}
.container:hover{
    transform: scale(1.025);
}
.imageContainer{
    display: flex;
    max-width: 200px;
    max-height: 200px;
}
.detailsContainer{
    padding: 3px;
}
.priceContainer{
    display: flex;
    justify-content: space-between;
}
.likeContainer{
    display: flex;
    justify-content: right;
    align-items: center;
}

.likeIcon{
    font-size: 13px;
    padding-right: 4px;
}

@media only screen and (max-width: 460px){
    .container{
        width: 46%;
    }
}